@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap')
body    {
    color:black;
}
h2 {
    color:violet
}    
ul {
    color:pink
}
.blue-text {
    color:blue
}
.important {
    font-weight: bold;
}
.highlight { 
    color: darkorange;
}
#big-ugly-green {
    color: green;
    font-weight: bold;
}
.important:hover {
    background-color: pink;
}
a[href="https://nsimpk.github.io/portfolio/about-me.html"] {
    background-color: aqua;
}
a[href="https://nsimpk.github.io/semantic-elements/"] {
    background-color: goldenrod;
}
a[href="https://nsimpk.github.io/portfolio/"] {
    background-color: paleturquoise;
}
a[href="https://nsimpk.github.io/css-basics/"] {
    background-color: salmon;
}
nav {
    border-style: solid;
    border-width: 5px;
    border-color: black;
    width: 25%;
}
p.important {
    width: 25%;
}
body a:hover {
    color: hotpink;
    font-size: 200%;
    transition: font-size 4s ease-out 2s;
}
p::first-letter {font-weight: bolder;
color:blueviolet;
}
a:visited {
    color: purple;
}
.box {
    height: 300px;
    width: 350px;
    border: 30px solid purple;
    background: yellow;
}
.container {
    height: 400px;
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.roboto-thin {
    font-family: "Roboto", Arial;
    font-weight:400;
    font-style: normal;
    font-size: 300%;
  }
li:nth-child(n+6) {
    color: blue;
    background-color: chartreuse;
}
h1:hover {
    font-family: 'Courier New', Courier, monospace;
    font-size: 300%;
    transition: font-size 10s steps(3, jump-start) 3s; 
}